#img-add > img {
  width: 100%;
}
.img_cat {
  width: 12rem;
  margin: 0 auto;
  height: 6rem;
  padding-right: 1rem;
}

.table_cat {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}

#edit {
  fill: #fff;
  background-color: #19cc95;
  border-radius: 85%;
  width: 2.1rem;
  height: 2rem;
  padding: 0.3rem;
}

#delete {
  background-color: #fff;
  fill: #d7576a;
  border-radius: 85%;
  width: 2.1rem;
  height: 2rem;
}

.links-comida {
  margin: auto 5%;
}

@media (max-width: 860px) {
  .img_cat {
    width: 8rem;
    margin: 0 auto;
    height: 5rem;
    padding-right: 1rem;
  }
}

/* no es mio */
/* .tdim{
    width:15%;
}

#tabla .tdid{
    width: 8%;
    vertical-align: middle;
}

#tabla .tdcat{
    width: 20%;
    vertical-align: middle;
}


#tabla .buttons{
    vertical-align: middle;
    width: 20%;
}

#divcat{
    text-align: center;
    position:relative;
    top: 20px;
}

#add{
    position: relative;
    bottom: 25px;
    left: 760px;
    background-color: #00FF7F;
}

#delete{
    margin-left: 10px;
    background-color: red;
}
#edit{
    margin-right: 10px;
    background-color: #32CD32;
} */
