:root {
  --pcol: #63b045;
  --scol: white;
  --tspeed: 0.5s;
  --base-scale: 1.1;
  --subMenu-width: 12.25rem;

  --fgrad: linear-gradient(139deg, #63b045 16%, #77d353 52%, #63b045 88%);
  --sgrad: linear-gradient(139deg, #63b045 16%, #77d353 76%, #63b045 100%);

  --rm-font-size: 0.875rem;
  --sm-font-size: 0.85rem;
}

#_2iAdU ._R2FsI img {
  width: 4rem;
  padding: 0.5rem;
}

#_2iAdU::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--sgrad);
  z-index: -1;
  transition: opacity var(--tspeed) linear;
  opacity: 0;
  width: fit-content;
}

@media (max-width: 860px) {
  #_2iAdU ._R2FsI {
    display: flex;
    /* align-items: center; */
    /* transition: all var(--tspeed) ease-in-out; */
    margin: 0rem;
    margin-left: 0.3rem;
  }
  #_2iAdU {
    padding: 1rem 0;
    justify-content: start;
    /* width: fit-content; */
  }
  #_2iAdU ._2trtS > ul > li > svg {
    margin: 0;
    font-size: x-large;
  }

  #_2iAdU ._2trtS > ul > li {
    margin-right: 2rem;
    font-size: x-large;
  }

  #_2iAdU ._3D598 > ul > li > a,
  #_2iAdU ._1JYcn > ul > li > a {
    font-size: 0.9rem;
  }

  #_2iAdU ._2trtS > ul > li:hover > ._3D598 {
    display: block;
    width: fit-content;
  }

  :root {
    --pcol: #63b045;
    --scol: white;
    --tspeed: 0.5s;
    --base-scale: 1.1;
    --subMenu-width: 18.25rem;

    --fgrad: linear-gradient(139deg, #63b045 16%, #77d353 52%, #63b045 88%);
    --sgrad: linear-gradient(139deg, #63b045 16%, #77d353 76%, #63b045 100%);

    --rm-font-size: 0.875rem;
    --sm-font-size: 0.85rem;
  }

  #_2iAdU ._R2FsI img {
    width: 4rem;
    /* padding: 0.8rem; */
    margin-left: 2rem;
  }
}

@media (max-width: 430px) {
  #_2iAdU ._2trtS > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-left: -6.5rem;
    /* margin-right: -4rem; */
  }
  #_2iAdU {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: -1rem;
}
  #_2iAdU > div {
    /* padding: 0.5rem; */
    padding: -1rem;
  }
  #_2iAdU ._R2FsI img {
    visibility: hidden;
  }
}
